<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="File_Size_Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><userSettings>
        <File_Size_Calculator.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastSize" serializeAs="String">
                <value>503, 345</value>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSubdirectories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastExtension" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="LastPercentage" serializeAs="String">
                <value>100%</value>
            </setting>
        </File_Size_Calculator.Properties.Settings>
    </userSettings>
</configuration>
